@charset "utf-8";

/* html is called a selector */
html {
   background-color: rgb(95, 7, 36);
}

body {
   background-color: rgb(240,170,170);
   font-family:'Courier New', Courier, monospace;
   font-size: 12pt;
   max-width: 1020px;
   /*10px for top bottom auto for left right*/
   margin: 10px auto;
}

header {
   background-color: rgb(146, 3, 50);
}

footer {
   background-color: rgb(240, 144, 19);
   text-align: center;
   font-size: 15pt;
   color: white;
   padding: 10px;
}

/* Only applies to img which is child of header */
header > img {
   width: 100%; /*set to follow the parent width, in this case body*/
}

/* only applies to h1 which is a child of body */
body > h1 {
   text-align: center;
}

nav {
   display: table;
   width: 100%;
   padding: 10px 20px;
}

nav > ul {
   display: table-row;
}

nav > ul > li {
   display: table-cell;
   text-align: center;
}

/* applies to all the a inside nav */
/* can be child, grandchild, grand grandchild */
nav a {
   color: white;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   text-decoration: none; /* remove underline */
}